.Cardboard__Holder {
  background: #f0f2f5;
  padding: 16px 16px 1px 16px;
  position: relative;
}

.Cardboard__Blocker {
  background: rgba(255,255,255,.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Cardboard .ant-card {
  align-items: center;
  display: flex;
  font-size: 50px;
  height: 235px;
  justify-content: center;
}

.Cardboard .Card.active {
  color: #fff;
  background: #62a5d9;
}

.Cardboard .CardBoard__StoryDescription {
  color: #1890ff;
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  top: -1px;
}
